#!/usr/bin/make -f

DEB_PYTHON_SYSTEM = pycentral
DEB_COMPRESS_EXCLUDE = .py
PYPI_NAME = %(pypiproject)s

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk
include /usr/share/cdbs/1/rules/pypi.mk

clean::
	rm -f *.cdbs-config_list

